$myFont : 'Quicksand', sans-serif;
$themeColor: #000066;
$shadowColor: #7567e2;
$cardBackground: #f4f4fd;
$lightGrey: #efefef;
$darkColor: #000000;
$white: white;


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $myFont;
   
  }

  .container {
    padding: 40px;
  }

  .inputText {
    height: 25px;
    width: 150px;
    margin: 10px;
    border: 2px solid $themeColor;
  }
  
  
  .heading {
    text-shadow: 0 0 7px $shadowColor;
    color: $darkColor;
    text-align: center;
    
  
  }

  .cardHeading {
    background-color: $cardBackground;
  }


  .details {
    padding: 10px;
    text-transform: capitalize;
  }

  .btn {
    margin: auto;
    width: 50%;
    text-align: center;
    button {
        margin: 15px;
        background-color: $themeColor;
        color: $white;
        border: none;
        width: 160px;
        height: 60px;
        border-radius: 5px;
        cursor: pointer;
        font-family: $myFont;
        font-size: 18px;

        &:hover {
            background-color: $white;
            color: $themeColor;
            border: 2px ridge $lightGrey;
          }
      }
   
    
  }

  .btn button:hover {
    background-color: $white;
    color: $themeColor;
    border: 2px ridge $lightGrey;
  }

  .grid {

    margin-top: 20px;
    background-color: $lightGrey;
    padding: 20px 20px 20px 40px;
    
  }
  
  
  @media only screen and (max-width: 840px) {
    .btn button{
      width: 100%;
      
    }
  }

 
  @media only screen and (max-width: 896px) {
    .grid {
      margin-left: 20px;
      
    }
  }
  

  @media only screen and (max-width: 599px) {
    .grid {
    
      margin: auto;
      width: 70%;
      text-align: center;
     
    }
  }